  <nav class = "blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class = "nav-logo">Музыкальная школа</a>
      <div class = "link-container">
        <a class='dropdown-trigger btn' href='#' data-target='educations'>Виды образования</a>
        <ul id='educations' class='dropdown-content'>
          <li><a href="/education/">Главная</a></li>
          <li><a href="/education/create">Создать</a></li>
        </ul>
      </ul>
    </div>
  </nav>