<nav class = "blue darken-4">
  <div class="nav-wrapper">
    <a href="/" class = "nav-logo">Музыкальная школа</a>
    <div class = "link-container">
      <a class='dropdown-trigger btn' href='#' data-target='educations'>Виды образования</a>
      <ul id='educations' class='dropdown-content'>
        <li><a href="/education/">Обзор</a></li>
        <li><a href="/education/create">Создать</a></li>
      </ul>
      <a class='dropdown-trigger btn' href='#' data-target='teachers'>Учителя</a>
      <ul id='teachers' class='dropdown-content'>
        <li><a href="/teachers/">Обзор</a></li>
        <li><a href="/teachers/create">Создать</a></li>
      </ul>
    </div>
  </div>
</nav>