{{> head}}
<body>
    {{> navbar}}
    <div class = "container">
        {{{body}}}
    </div>
    <script src = "../../js/materialize.min.js"></script>
    <script src = "../../js/animation.js"></script>
</body>
</html>