<div class="text-center">
    <h3>Добро пожаловать на главную страницу Музыкальной школы.</h3>
    <span>Данный сайт написан на HTML,CSS,JS с использованием веб-сервера Node.JS, фреймворка Express и СУБД MongoDB Atlas</span>
</div>