<h2>Создание нового вида обучения</h2>
<form action="/create" method="post">
    <div class="input-field">
       <input type="text" name = "NameOfEducation" >
       <label>Вид обучен<label>
    </div>
    <div class="input-field">
        <input type="Number" name = "Price">
        <label>Цена</label>
    </div>
    <button type="submit" class = "btn">Отправить</button>
</form>