<h2>Вид обучения</h2>
<h5>{{education._id}}</h5>
<hr>
<div class = "container-data">
    <span class = "data"><b class = "text">Вид обучения:</b> {{education.NameOfEducation}}</span>
    <span class = "data"><b class = "text">Цена:</b> {{education.Price}}</span>
    <span class = "data"><b class = "text">Изображение:</b> {{education.Image}}</span>
   <div class = "crud-button">
      <a href = "/education" class = "btn btn-small">Вернуться к списку</a>
    </div>
</div>