<h2>Редактирование вида обучения</h2>
<form action="/edit" method="post">
    <div class="input-field">
        <input type="text" name = "NameOfEducation" value = "{{education.NameOfEducation}}" >
        <label class = "active">Вид обучения</label>
    </div>
    <div class="input-field">
        <input type="Number" name = "Price" value = "{{education.Price}}">
        <label class = "active">Цена</label>
    </div>
        <div class="input-field">
        <input type="text" name = "Image" value = "{{education.Image}}">
        <label class = "active">Изображение</label>
    </div>
    <button type="submit" class = "btn">Изменить</button>
    <a href = "/education/" class = "btn">Вернуться назад</a>
</form>