body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text{
    font-size: 20px;
}

.container-data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15px 0;
}

.crud-button{
    margin-bottom: 15px
}

.nav-wrapper{
    display: flex;
    justify-content: space-around;
}

.nav-logo{
    font-size: 30px;
}